.articulo{
    width: 250px;
    height: 600px;
    margin: 15px;
    background-color: rgb(219, 167, 22);
}

.Header{
    padding-left: 15px;
    font-size: 12px;
}

.itemImg{
    width: 150px;
    height: 250px;
    margin-left: 50px;
}

.info{
    padding-left: 15px;
}

.detalle{
    background-color: aquamarine; 
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 60px;
    border-radius: 10px;
}

.Option{
    background-color: aquamarine; 
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 60px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}