
.articulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 250px;
    height: 500px;
    margin: 15px;
    background-color: rgb(219, 167, 22);
}

.Header{
    padding-left: 15px;
    font-size: 12px;
}

.itemImg{
    width: 150px;
    height: 250px;
    margin-left: 50px;
}

.info{
    padding-left: 15px;
}

.detalles{
    background-color: aquamarine; 
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 55px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}